body {
  background-image: url(new-bg.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header--family);
}
.site__header {
  width: 100vw !important;
  position: relative !important;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  height: 40px;
  line-height: 40px;
  color: white;
  text-align: center;
  background: #025c4e;
  background: linear-gradient(
    90deg,
    rgba(2, 92, 78, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(1, 117, 78, 1) 100%
  );
}

.header__wrapper:hover {
  background: #ffffff;
}
.header__wrapper:hover * {
  color: #333333;
}
.header__wrapper * {
  color: #ffffff;
}
header {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  margin-left: calc(var(--page-margin) * 2);
  margin-right: calc(var(--page-margin) * 2);
}
.header__icons {
  display: flex;
  justify-content: end;
}
